<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base Char</title>
</head>
<body>
    <form action="" method="post">
        <p>Username: <input type=text name=username></p>
        <p>password: <input type=password name=password></p>
        <p>Character Name: <input type=text name=cname></p>
        <p>level: <input type=number name=level></p>
        <p>xp: <input type=number name=xp></p>
        <p>xpreq: <input type=number name=xpreq></p>
        <p><input type=submit value=Create></p>
    </form>
</body>
</html>