<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stats</title>
    <link rel="stylesheet" type="text/css" href="/MisterMasticate/static/css/Main.css">
</head>
<body>
    <table class="stattable">
        <tr class="statitem">
            <th>Stat</th>
            <th>Intrinsic</th>
            <th>Equipment</th>
            <th>Total</th>
        </tr>
        <tr class="statitem">
            <td><strong>Attack</strong></td>
            <td>{{ AttackIntrinsic }}</td>
            <td>{{ AttackEquipment }}</td>
            <td>{{ AttackTotal }}</td>
        </tr>
        <tr class="statitem">
            <td><strong>SpecialAttack</strong></td>
            <td>{{ SpecialAttackIntrinsic }}</td>
            <td>{{ SpecialAttackEquipment }}</td>
            <td>{{ SpecialAttackTotal }}</td>
        </tr>
        <tr class="statitem">
            <td><strong>Defense</strong></td>
            <td>{{ DefenseIntrinsic }}</td>
            <td>{{ DefenseEquipment }}</td>
            <td>{{ DefenseTotal }}</td>
        </tr>
        <tr class="statitem">
            <td><strong>SpecialDefense</strong></td>
            <td>{{ SpecialDefenseIntrinsic }}</td>
            <td>{{ SpecialDefenseEquipment }}</td>
            <td>{{ SpecialDefenseTotal }}</td>
        </tr>
        <tr class="statitem">
            <td><strong>Charisma</strong></td>
            <td>{{ CharismaIntrinsic }}</td>
            <td>{{ CharismaEquipment }}</td>
            <td>{{ CharismaTotal }}</td>
        </tr>
        <tr class="statitem">
            <td><strong>Dexterity</strong></td>
            <td>{{ DexterityIntrinsic }}</td>
            <td>{{ DexterityEquipment }}</td>
            <td>{{ DexterityTotal }}</td>
        </tr>
        <tr class="statitem">
            <td><strong>Strength</strong></td>
            <td>{{ StrengthIntrinsic }}</td>
            <td>{{ StrengthEquipment }}</td>
            <td>{{ StrengthTotal }}</td>
        </tr>
        <tr class="statitem">
            <td><strong>Intelligence</strong></td>
            <td>{{ IntelligenceIntrinsic }}</td>
            <td>{{ IntelligenceEquipment }}</td>
            <td>{{ IntelligenceTotal }}</td>
        </tr>
        <tr class="statitem">
            <td><strong>Perception</strong></td>
            <td>{{ PerceptionIntrinsic }}</td>
            <td>{{ PerceptionEquipment }}</td>
            <td>{{ PerceptionTotal }}</td>
        </tr>
        <tr class="statitem">
            <td><strong>Satiety</strong></td>
            <td>{{ Satiety }}</td>
        </tr>
    </table>
</body>
</html>